@import 'assets/_variables.scss';

.currency-input {
  height: 3em;
  width: 100px;
  font-size: 18px;
  padding: 0px 6px 0px 6px;
  line-height: 4;
  box-sizing: border-box;
}

.currency-row {
  align-items: center;
}

.currency-select {
  margin: 8px;
  width: 150px;
}

.currency-select > div {
  min-height: 3.3em;
}

.currency-prefix {
  font-family: GloberSemiBold;
  color: $gray-500;
  margin-right: 8px;
  font-size: 20px;
  min-width: 1em;
}

.exchange-icon {
  color: $blue;
  font-size: 3em;
  margin-left: 4rem;
  margin-right: 4rem;
}

.trendind-icon {
  font-size: 1rem;
}

.switch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-label {
  font-family: GloberSemiBold;
  font-size: 13px;
  color: $gray-400;
}

.time-data {
  font-family: GloberSemiBold;
  font-size: 13px;
  color: $gray-600;
}

.chip-balance-container {
  display: flex;
  flex-direction: row;
  left: 2rem;
  position: relative;
}

.chip-balance-amount {
  left: 80%;
  top: 0.2em;
  position: absolute;
  width: fit-content;
  font-family: GloberSemiBold;
  font-size: 16px;
}
.balance-error {
  font-family: GloberBold;
  color: $red;
}
