@import "assets/_variables.scss";


.balance-card {
  margin: 12px;
}

.balance-card:first-child {
  margin-left: 0px;
}

.balance-currency-label {
  font-family: GloberBold;
  color: $blue-dark;
  margin-top: 12px;
  font-size: 1rem;
}
